{% extends "index.html" %}



{% block content %}

  <body class="AboutBody">
    <div class="AboutDiv">
      <h3>
	Tournament Rules:
  </h3>
    <ol><b>
      <li> Top 4 Players from each Division will reach Quarterfinals and its winners will proceed to Semi's and to Finals of the given Level</li>
      <li> In case of tie between the two players, the winner among those two players in round robin will move ahead. Ex: If Player A and Player B each get 3 winning points then the winner of their individual match will go up.</li>
      <li> If its a tie between 3 or more players each defeating one another the below rules are in place.</li>
      <li> We will go for a winning avg. ex: number of matches won/number of matches played. Will not consider 3rd set or tie breaker for winning averages.</li>
      <li> If the winning avg is also a tie then we would go for tie breaker. As many tie breaker's as required to decide the top two players.</li>
      <li> MATCH win will fetch 4 points, SET win would fetch 2 points for the player that lost or 1 point for the player that lost(a bonus point is being awarded here for his efforts).</li>
      <li> Forfeiting the Match will be awarded 0 points and he will be giving away 4 points to the opponent. 0 points will be awarded to both the players for the matches which are not played on time and considered forfeit by both</li>
      <li> For League Round games we recommend to go with 10 point tie breaker (>=10 with 2 points diff) after 2 sets . Players can go for 3rd set provided both players agree to it. please decide this at the start of the game</li>
      <li> For League Elimination games we recommend to go with 10 point tie breaker (>=10 with 2 points diff) after 2 sets, But any one player request for 3rd set, the other player should obligee for it. please decide this at the start of the game</li>
      <li> Players need to schedule the Matches among them selves and report the scores. Players need to give atleast 3 viable days to opponent (weekday evenings and atleast one weekend)</li>
      <li> The Match should be played on the Scheduled week. For any reason if they cannot play it in the scheduled week, it can be played next week Only if BOTH Players agreed to it. The next week scheduled game will not be changed, which means if they move their schedule week game to next week, they have to play 2 games in the same week. The forefiet rules only apply for the scheduled week. If they move to next week and one of them is not available it wont be forefiet but marked as not played which is 0 points.</li>
      <li> Match can be rescheduled under extreme conditions like rain/snow/wind/excessive heat/injury etc and should be continued from where(score) they were stopped. Please stay hydrated</li>
      <li> During the Match, the player should be fair in calling line out's from/for his side of the net, If you are unsure, it is a good ball, please dont call it out unless you clearly saw space between the line and where the ball landed (outside)</li>
      <li> During the Match, if the opponent strongly feels that the line out call made is wrong and raises the issue, in good spirit please repeat the point</li>
      <li> If any of the players strongly feels that the line out calls made by the opponent on their side of the net are wrong and happens more then 3 times, please stop the game and request a friend or some volunteer from our tournament group to come and help referee the game</li>
      <li> Requiring a referee should not happen if the participants are playing here for fun and playing in good spirit, we need some of the participants from the tournament to volunteer as referee in worst case scenario</li>
      <li> Tennis Balls, Each player has to get a new can(3 new balls) for every match and need to use 6 new tennis balls otherwise agreed by opponent for 3 tennis balls itself. Players will have a toss to determine who will start first</li>
      <li> If both the weekend days are lost due to rain/snow/wind for Elimination games, Organizer will take a call on Extention</li>
      <li> The Top 2 to 4 will be moved a level up and Bottom 2 to 4 players will be moved a level down. 4 or more forfeit matches may result in a season skip, Organizers will take a call</li>
      <li> Tournament organizers are not responsible for any accidents/injuries/incidents that happen to or between the players in the game, all we are doing is facilitating a group for like minded people to have fun.</li>


      </b>

      </ol>



    </div>

  </body>
{% endblock %}
