{% extends "FVLindex.html" %}



{% block content %}

  <body class="AboutBody">
    <div class="AboutDiv">
      <h3>
	Tournament Rules:
  </h3>
    <ol><b>
      <li> Each team needs to publish 15 players before the First game of the tournament, no new player can be added after or is allowed to play</li>
      <li> Captains needs to discuss the time and place of the game in the scheduled week</li>
      <li> Home team is responsible to secure the court and provide atleast 3 time slot to Away team</li>
      <li> Games can be completed in the schedule week or before the schedule week. After the Cutoff date it will be marked as Notplayed or Forefiet</li>
      <li> Extension week is the week after scheduled week, **both teams must agree** - to play during extended week, however no forefiet allowed, if game is not played both teams get '0' points</li>
      <li> Each match will be a 3 set with 21 21 21 points game</li>
      <li> Each set has 2 time-outs and for 3rd set switch courts when any team get to 11 points</li>
      <li> 'No-LIMIT' subsititutions during league games , during playoffs 'maximum 6 subsitution' per match</li>
      <li> Team winning the match will get 4 points. Team losing will get 1 bonus point if they win a set and 1 point for participation(max 2 points). </li>
      <li> Regular volleryball rules. Please discuss with opponent captain before the start of the game for any clarifications</li>
      <li> Teams needs to get their volleyball</li>
      <li> Top 4 from each group will qualify for quarter finals, format being: A1 vs B4, A2 vs B3 and so on..</li>
      <li> If 3 teams tie up, then NRR(net run rate) will be taken . If two teams tie up then winner of the league will be ranked above.</li>
      <li> All games must be played on the Sand Volleyball courts unless both team agrees to play indoor. *BOTH TEAMS MUST ACCEPT. Default is Sand Volleyball</li>
      <li> No court dimensions. Teams can decide and play</li>
      <li> All teams are supposed to get players from the Roster only. If any team uses player outside the Roster will be given forefiet.</li>
      <li style="color:red;"> Tournament organizers are not responsible for any accidents/injuries/incidents that happen to or between the players in the game, all we are doing is facilitating a group for like minded people to have fun.</li>
      <li style="color:red;"> If you are playing in this Tournament that means you are agreeing to the above point and agreeing that organizer or any of the participants are not liable to accidents/injuries/incidents that may happen.</li>

      </b>

      </ol>



    </div>

  </body>
{% endblock %}
