{% extends "FVLindex.html" %}



{% block content %}

  <body class="AboutBody">
    <div class="AboutDiv">
      <h3>
	Tournament Rules:
  </h3>
    <ol><b>
      <li> Each team needs to publish 13 players before the First game of the tournament</li>
      <li> Captains needs to discuss the time and place of the game in the scheduled week</li>
      <li> Home team is responsible to secure the court and provide atleast 3 time slot to Away team</li>
      <li> Games can be completed in the schedule week or before the schedule week. After the Cutoff date it will be marked as Notplayed or Forefiet</li>
      <li> Each match will be a 3 set with 21 21 21 points game</li>
      <li> Team winning the match will get 4 points and team winning one set will get 2 points and playing the match will get 1 point</li>
      <li> Regular volleryball rules. Please discuss with opponent captain before the start of the game for any clarifications</li>
      <li> Teams needs to get their volleyball</li>
      <li> Top 4 teams will play semi's and Finals . Both Semi's and Final's happen on the same day.</li>
      <li> If 3 teams tie up, then NRR(net run rate) will be taken . If two teams tie up then winner of the league will be ranked above.</li>
      <li> All games must be played on the Sand Volleyball courts unless both team agrees to play indoor. *BOTH TEAMS MUST ACCEPT. Default is Sand Volleyball</li>
      <li> No court dimensions. Teams can decide and play</li>
      <li style="color:red;"> Tournament organizers are not responsible for any accidents/injuries/incidents that happen to or between the players in the game, all we are doing is facilitating a group for like minded people to have fun.</li>
      <li style="color:red;"> If you are playing in this Tournament that means you are agreeing to the above point and agreeing that organizer or any of the participants are not liable to accidents/injuries/incidents that may happen.</li>

      </b>

      </ol>



    </div>

  </body>
{% endblock %}
