
<!--
<div class="fvl-welcome">


<p>
  <b>Schedule for Spring 2020 is posted.
  To enter score click on Schedule tab.</b><br />
  <img src="static/img/FVL-winner.jpg" style = "margin-left:30%; ">
  <img src="static/img/FVL-runner.jpg">
  <p style = "margin-left:30%;font-size:125%;color: #0a3471; ">
    <b>FVL winter 2019 - winner and runner trophies</b>
  </p>
  </p>

  </div>
 -->


{% extends "FVLindex.html" %}



{% block content %}

<style>
.mySlides {display:none;}
</style>

<div class="fvl-welcome">


<p>
  <b>Schedule for Spring 2020 is posted.
  To enter score click on Schedule tab.</b><br />
  </p>

<div class=" w3-display-container" style="width:100%;">

<div class="w3-display-container mySlides" style="text-align:center;">
  <img src="static/img/FVLtrophy.jpeg" style="width:70%;height:70%;" >
  <div class="w3-display-bottommiddle  w3-container w3-padding-16 w3-black">
    Spring 2019 Winner and Runner trophies.
  </div>
</div>

<div class="w3-display-container mySlides" style="text-align:center;" >
  <img src="static/img/fvl2019winner.jpeg" style="width:70%;height:70%;">
  <div class="w3-display-bottommiddle  w3-container w3-padding-16 w3-black">
    FVL winter 2019 Winners - Katy Whackers.
  </div>
</div>

<div class="w3-display-container mySlides" style="text-align:center;">
  <img src="static/img/fvl2019runner.jpeg" style="width:70%;height:70%;">
  <div class="w3-display-bottommiddle  w3-container w3-padding-16 w3-black">
    FVL winter 2019 Runners - Katy Dragons.
  </div>
</div>


<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

</div>
</div>
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

{% endblock %}
