{% extends "index.html" %}

{% block content %}

  <div class="ScheduleDiv">

    {% if current_user.is_anonymous %}
    <p style="font-size=20px">Welcome Guest, Please login to view data.</p>
    {% else %}
    <p class="homePlayerName">{{ data.firstName }}

    <svg class="levelSVG" xmlns="http://www.w3.org/2000/svg">
    <g>
    <rect ></rect>
    {% if tabledata[0] %}
    <text x="100" y="30">Level {{tabledata[0].level}}</text>
    {% endif %}
    </g>
    </svg>
    </p>
     <br>

    <div class="WinPercentage">
    <h5 style="text-align:left;">{{ data.username }} Schedule</h5>


          <table class="dataframe">
         <thead>
            <tr>
               <th>Home</th>
               <th>Away</th>
               <th>Deadline</th>
               <th >Score</th>
            </tr>
         </thead>

         <tbody>
            {% for entry in tabledata %}
               <tr>
                  <td>{{ entry.player_id1 }}</td>
                  <td>{{ entry.player_id2 }}</td>
                  <td>{{ entry.deadline }}</td>

                  <td>{{ entry.score }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>





    </div>



    <div class="WinPercentage">
    <h5>Win Percentage</h5>

    <svg height="100" width="100">
    <circle  stroke-dasharray="600"/>
    <text x="33%" y="50%">80%</text>
    </svg>
     <div id="svgSide">
     <p> Matches Played - 10 </p><br>
     <p> Total Win - 10 </p><br>
     <p> Total Loss - 10 </p>
      </div>
    </div>

    <div class="WinPercentage">
    <h5>Game Percentage</h5>

    <svg height="100" width="100">
    <circle  stroke-dasharray="600"/>
    <text x="33%" y="50%">80%</text>
    </svg>
     <div id="svgSide">
     <p> Total Games Played - 10 </p><br>
     <p> Total Win - 10 </p><br>
     <p> Total Loss - 10 </p>
      </div>
      <div id="svgBottom">
          <svg height="100" width="100">
    <circle  stroke-dasharray="200"/>
    <text x="33"% y="50%">Set1-60%</text>
    </svg>

        <svg height="100" width="100">
    <circle  stroke-dasharray="100"/>
    <text x="33"% y="50%">Set2-50%</text>
    </svg>

        <svg height="100" width="100">
    <circle  stroke-dasharray="50"/>
    <text x="33"% y="50%">Set3-30%</text>
    </svg>

      </div>

    </div>




    {% endif %}






  </div>





{% endblock %}
