{% extends "index.html" %}

{% block content %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="ScheduleDiv" style= "text-align: center;opacity: 1.0;">
<h4 class = 'text-center' style = "color:black;"> KTL Doubles </h4>
<h5 class = 'text-center' style = "color:black;font-size: 16px;">
  Point Table
  <h6 class = 'text-center' style = "color:blue;font-size: 12px;">
    <b>Win-4, Loss-1, Bonus-1(loss but win a set), Forefeit-0</b>
  </h6>
</h5>
{% if message %}
<p class='text-center' style="color:red;"><strong>{{ message }}</strong></p>
{% endif %}
<div class="container" style="width: 1000px; font-size: 12px;background-color: #EBEBEB;">
<table class="table table-striped table-hover table-sm text-center">
         <thead class="table-info" style= "background-color: #8ceced;">
            <tr>

               <th>Team</th>
               <th>Matches</th>
               <th>Won</th>
               <th>Loss</th>
               <th>Bonus</th>
               <th>Points</th>
               <th>Games won</th>
               <th>Games total</th>
               <th>%games </th>

            </tr>
         </thead>

         <tbody>
                {% for item in pt_data %}

               <tr>
                 <td><b>{{item[0]}}</b></td>
                  <td>{{item[1]}}</td>
                  <td>{{item[2]}}</td>
                  <td>{{item[3]}}</td>
                  <td>{{item[4]}}</td>
                  <td><b>{{item[5]}}</b></td>
                  <td>{{item[6]}}</td>
                  <td>{{item[7]}}</td>
                 <td><b>{{item[8]}}</b></td>


               </tr>


                {% endfor %}
         </tbody>
</table>
</div>

<!-- ************ schedule ********* -->
<h5 class = 'text-center' style = "color:black;font-size: 16px;">
  Schedule
</h5>

<div class="container mx-auto mb-3 text-center" style="width: 1000px; font-size: 16px;background-color: #EBEBEB;text-align: center;">

<form action="{{ url_for("KTLDoubles")}}" method="post" style="">
<select name="comp_select" class="selectpicker bg-light" data-live-search="true" aria-label="Default select example" style= "text-align: center;">
  <option selected>Select Team</option>
  {% for p in players %}
  <option value="{{p}}">{{p}}</option>
  {% endfor %}
</select>
<button type="submit" class="btn btn-success btn-sm">Submit</button>
  </form>
  <form action="{{ url_for("KTLDoubles")}}">
    <button type="submit" class="btn btn-info  btn-sm">Clear</button>
  </form>
  <br>

</div>
{% if error %}
<p class='text-center' style="color:red;"><strong>Error: {{ error }}</strong></p>
{% endif %}
<div class="container mx-auto mb-3" style="width: 1000px; font-size: 12px;background-color: #EBEBEB;text-align: center;">
<table class="table table-striped table-hover table-sm table-bordered" id="mytable">
         <thead class="thead-dark text-center" style="font-size: 14px;background-color: #8ceced;">
            <tr>
               <th>Team1 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Set1 &nbsp Set2 &nbsp Set3</th>
               <th>Team2 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Set1 &nbsp Set2 &nbsp Set3</th>
               <th>Score</th>
               <th>Deadline</th>


            </tr>
         </thead>

         <tbody class = "text-center">
            {% for entry in sch_data %}
           <div>
              <form id="myForm" action="{{ url_for("doublesubmitscore",team1=entry[0],team2=entry[1])}}" method="post" >

               <tr>
                  <td><b>{{ entry[0] }}</b>&nbsp &nbsp


                        {% if entry[2] == 'x' %}
                          <select name="p1set1" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p1set2" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p1set3" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,11) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>&nbsp
                          <input name="p1forefeit" class="form-check-input" type="checkbox" value="1" >
                          <label class="form-check-label" for="flexCheckDefault">
                            Forefeit
                          </label>
                        {% endif %}
                  </td>
                  <td><b>{{ entry[1] }}</b>&nbsp &nbsp
                        {% if entry[2] == 'x' %}
                          <select name="p2set1" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p2set2" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p2set3" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,11) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>&nbsp
                          <input name="p2forefeit" class="form-check-input" type="checkbox" value="1" >
                          <label class="form-check-label" for="flexCheckDefault">
                            Forefeit
                          </label>
                        {% endif %}
                   </td>

                  {% if entry[2] == 'x' %}
                  <td>
                        <button onclick="myFunction()" id="myBtn" type="submit" class="btn btn-success btn-sm">Submit</button>
                  </td>
                  {% else %}
                  <td><b>{{ entry[2] }}</b></td>
                  {% endif %}
                   <td>{{ entry[3] }}</td>
               </tr>
                      </form>
                    </div>
            {% endfor %}
         </tbody>
</table>
</div>
</div>
{% endblock %}
