{% extends "index.html" %}



{% block content %}

  <body class="AboutBody">
  <div class="AboutDiv">
    <h3>
      Summer 2019 Playoffs
    </h3>
      <div class="filterDiv">
        <p style = "text-align:center;margin-top:2%;" class="playoffs" >

        <button onclick="document.getElementById('myImage').src='/static/img/draw45.png'">4.5</button>
        <button onclick="document.getElementById('myImage').src='/static/img/draw40.png'">4.0</button>
        <button onclick="document.getElementById('myImage').src='/static/img/draw3.5.png'">3.5</button>

<!--         <a style = "background-color: #77dd77;padding: 6px 10px;color:black;margin-right:2%" href="">4.5</a> -->
<!--         <a style = "background-color: #77dd77;padding: 6px 10px;color:black;margin-right:2%" href="">4.0</a>
        <a style = "background-color: #77dd77;padding: 6px 10px;color:black;" href="">3.5</a> -->

        </p>
      </div>


      <div class="playoffChart" style="text-align:center;margin:2%;">

        <img id="myImage" src="/static/img/draw45.png" style="width:70%;">


    </div>
  </div>

  </body>

{% endblock %}
